/*banner*/

#banner {
  background: url(../images/common/bgBanner.jpg)no-repeat center top;
  background-size: cover;
  min-height: 834px;
  margin-top: -193px;
}
#bannerBot{
  position: relative;
  background: url(../images/common/bgBannerBot.jpg)no-repeat center top;
  background-size: cover;
  padding: 33px 0 48px;
  h4{
    font-family: "Product Sans";
    font-weight: 700;
    font-style: italic;
    font-size: 26px;
    color: #13262C;
  }
  h1{
    font-family: "Product Sans";
    font-weight: 700;
    font-size: 59px;
    line-height: 74px;
    color: #13262C;
  }
  h3{
    font-family: "Product Sans";
    font-weight: 400;
    font-size: 19px;
    letter-spacing: 6.7px;
    color: #CC0000;
  }
  a.btn{
    margin: 20px auto;
  }
  p{
    max-width: 811px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-family: "Product Sans";
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 4.9px;
    color: #13262C;
    &::before{
      content: url(../images/common/bordLeft.png);
      position: absolute;
      top: -50px;
      left:-50px;
    }
    &::after{
      content: url(../images/common/bordRight.png);
      position: absolute;
      top: -50px;
      right: -50px;
    }
  }
  &::after{
    content: '';
    background:linear-gradient(to right, rgba(10,21,125,1) 0%, rgba(23,134,245,1) 50%, rgba(10,21,125,1) 100%) repeat;
    background-size: 50%;
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
