/*header*/

#header {
  position: relative;
  background: none;
  &::before{
    content: '';
    background:linear-gradient(to right, rgba(10,21,125,1) 0%, rgba(23,134,245,1) 50%, rgba(10,21,125,1) 100%) repeat;
    background-size: 50%;
    width: 100%;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  nav {
    a#pull {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items:  flex-start;
      li {
        padding: 27px 0;
        a {
          font-family: "Montserrat";
          font-weight: 600;
          font-size: 15px;
          color:#000;
          padding: 28px 41px;
        }
        &.active-menu a, a:hover {
          background: linear-gradient(rgba(10,21,125,1) 0%, rgba(23,134,245,1) 50%, rgba(10,21,125,1) 100%) repeat;
          color: #fff;
        }
      }
    }
  }
  .hdTop{
    background: #FFFFFF;
    padding: 25px 0 25px;
    .row{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    p{
      &:nth-of-type(1){
        a.socialico{
          font-size: 40px;
          color: #222222;
          margin-right: 30px;
          &:hover{
            color: #375279;
          }
        }
      }
      font-family: "Product Sans";
      font-weight: 400;
      font-size: 15px;
      color: #000;
      margin: 0;
      letter-spacing: 1px;
      span{
        letter-spacing: 0;
        display: block;
        font-size: 20px;
        color: #375279;
      }
      &:nth-of-type(2){
        span{
          letter-spacing: 2px;
        }
      }
    }
  }
  .hdBot{
    padding: 13px 0 0;
    .row{
      max-width: 1659px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items:  flex-start;
    }
    .left{
      .hdLogo{
        margin-top: 30px;
      }
    }
    .right{
      max-width: 1119px;
      width: 100%;
    }
  }
}
