/*-------------------------------------------Section 2-------------------------------------------*/
#section2{
  padding: 40px 0 1px;
  h3{text-align: left;
  margin-left: 92px;}
  h2{
    font-weight: 700;
    font-size: 53px;
    line-height: 120%;
  }
  p{
    margin: 40px 0;
    font-family: "Product Sans";
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.7px;
    line-height: 150%;
    color: #525252;
  }
  .container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    .left{
      margin-left: 92px;
      max-width: 840px;
      width: 100%;
      text-align: left;
      .links{
        max-width: 523px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .sm{
          margin: 0 auto;
          a.socialico{
            font-size: 40px;
            color: #003366;
            margin-right: 40px;
            &:hover{
              color: #666666;
            }
          }
        }
      }
    }
    .right{
      img{
        max-width: 568px;
        width: 100%;
        box-shadow: 10px 10px 40px -20px;
      }
    }
  }
}
