/*-------------------------------------------Section 1-------------------------------------------*/
#section1{
  padding: 64px 0 0;
  .container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    dl{
      max-width: 449px;
      width: 100%;
      dt{
        img{
          border-radius: 200px;
          box-shadow: 10px 10px 40px -20px;
        }
      }
      dd{
        margin: 0;
        h4{
          padding: 20px 0;
          font-family: "Roboto Slab";
          font-weight: 700;
          font-size: 32px;
          color: #000;
        }
        p{
          max-width: 433px;
          margin: 0 auto;
          font-family: "Product Sans";
          font-weight: 400;
          font-size: 19px;
          line-height: 150%;
          letter-spacing: 0.4px;
          color: #525252;
        }
      }
      &:nth-of-type(2), &:nth-of-type(3){
        dd{
          h4{
            padding: 40px 0;
          }
        }
      }
    }
  }
}
