h1 {
  font-size: 100px;
  font-weight: 100;
  color: #000;
}
h2{
  font-family: "Roboto Slab";
  font-size: 73px;
  font-weight: 400;
  color: #125FCB;
  line-height: 91px;
}
h3{
  font-family: "Product Sans";
  font-size: 28px;
  font-weight: 700;
  color: #142631;
}
.socialico{
  font-family: "Socialico";
}
