/*@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
  .mobile-flex-jspacea{justify-content:space-around;flex-wrap: wrap;}
  .mobile-flex-column{flex-direction:column}
  .mobile-img{display:none;}
}*/
