@font-face { font-family: "socialico"; src: url("fonts/Socialico/Socialico.eot"); src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face { font-family: 'Roboto Slab'; src: url("fonts/RobotoSlab-Bold.woff2") format("woff2"), url("fonts/RobotoSlab-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Roboto Slab'; src: url("fonts/RobotoSlab-Regular.woff2") format("woff2"), url("fonts/RobotoSlab-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Product Sans'; src: url("fonts/ProductSans-BoldItalic.woff2") format("woff2"), url("fonts/ProductSans-BoldItalic.woff") format("woff"); font-weight: bold; font-style: italic; }

@font-face { font-family: 'Anton'; src: url("fonts/Anton.woff2") format("woff2"), url("fonts/Anton.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Product Sans'; src: url("fonts/ProductSans-Bold.woff2") format("woff2"), url("fonts/ProductSans-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Arial'; src: url("fonts/Arial-BlackItalic.woff2") format("woff2"), url("fonts/Arial-BlackItalic.woff") format("woff"); font-weight: 900; font-style: italic; }

@font-face { font-family: 'Product Sans'; src: url("fonts/ProductSans-Regular.woff2") format("woff2"), url("fonts/ProductSans-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Regular.woff2") format("woff2"), url("fonts/Montserrat-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-SemiBold.woff2") format("woff2"), url("fonts/Montserrat-SemiBold.woff") format("woff"); font-weight: 600; font-style: normal; }

.suspension-contain { max-height: 980px; overflow: hidden; position: relative; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 1200px; margin: 0 auto; text-align: center; font-family: Arial; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { padding: 0; margin: 0; }

.row { max-width: 1581px; margin: 0 auto; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

/*grids*/
.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

/*button*/
.btn { text-align: center; font-family: "Montserrat"; font-size: 12px; font-weight: 400; letter-spacing: 2px; color: #FFF; display: inline-block; padding: 18px 0; max-width: 148px; width: 100%; background: -webkit-gradient(linear, left top, left bottom, from(#0a157d), color-stop(50%, #1786f5), color-stop(140%, #0a157d)); background: -webkit-linear-gradient(#0a157d 0%, #1786f5 50%, #0a157d 140%); background: -o-linear-gradient(#0a157d 0%, #1786f5 50%, #0a157d 140%); background: linear-gradient(#0a157d 0%, #1786f5 50%, #0a157d 140%); border: 1px solid transparent; border-radius: 5px; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn:hover { background: #ddd; border-color: #ddd; color: #ddd; color: #000; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

h1 { font-size: 100px; font-weight: 100; color: #000; }

h2 { font-family: "Roboto Slab"; font-size: 73px; font-weight: 400; color: #125FCB; line-height: 91px; }

h3 { font-family: "Product Sans"; font-size: 28px; font-weight: 700; color: #142631; }

.socialico { font-family: "Socialico"; }

/*header*/
#header { position: relative; background: none; }

#header::before { content: ''; background: -webkit-gradient(linear, left top, right top, from(#0a157d), color-stop(50%, #1786f5), to(#0a157d)) repeat; background: -webkit-linear-gradient(left, #0a157d 0%, #1786f5 50%, #0a157d 100%) repeat; background: -o-linear-gradient(left, #0a157d 0%, #1786f5 50%, #0a157d 100%) repeat; background: linear-gradient(to right, #0a157d 0%, #1786f5 50%, #0a157d 100%) repeat; background-size: 50%; width: 100%; height: 8px; position: absolute; top: 0; left: 0; right: 0; }

#header nav a#pull { display: none; }

#header nav ul { margin: 0; padding: 0; list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#header nav ul li { padding: 27px 0; }

#header nav ul li a { font-family: "Montserrat"; font-weight: 600; font-size: 15px; color: #000; padding: 28px 41px; }

#header nav ul li.active-menu a, #header nav ul li a:hover { background: -webkit-gradient(linear, left top, left bottom, from(#0a157d), color-stop(50%, #1786f5), to(#0a157d)) repeat; background: -webkit-linear-gradient(#0a157d 0%, #1786f5 50%, #0a157d 100%) repeat; background: -o-linear-gradient(#0a157d 0%, #1786f5 50%, #0a157d 100%) repeat; background: linear-gradient(#0a157d 0%, #1786f5 50%, #0a157d 100%) repeat; color: #fff; }

#header .hdTop { background: #FFFFFF; padding: 25px 0 25px; }

#header .hdTop .row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header .hdTop p { font-family: "Product Sans"; font-weight: 400; font-size: 15px; color: #000; margin: 0; letter-spacing: 1px; }

#header .hdTop p:nth-of-type(1) a.socialico { font-size: 40px; color: #222222; margin-right: 30px; }

#header .hdTop p:nth-of-type(1) a.socialico:hover { color: #375279; }

#header .hdTop p span { letter-spacing: 0; display: block; font-size: 20px; color: #375279; }

#header .hdTop p:nth-of-type(2) span { letter-spacing: 2px; }

#header .hdBot { padding: 13px 0 0; }

#header .hdBot .row { max-width: 1659px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#header .hdBot .left .hdLogo { margin-top: 30px; }

#header .hdBot .right { max-width: 1119px; width: 100%; }

/*banner*/
#banner { background: url(../images/common/bgBanner.jpg) no-repeat center top; background-size: cover; min-height: 834px; margin-top: -193px; }

#bannerBot { position: relative; background: url(../images/common/bgBannerBot.jpg) no-repeat center top; background-size: cover; padding: 33px 0 48px; }

#bannerBot h4 { font-family: "Product Sans"; font-weight: 700; font-style: italic; font-size: 26px; color: #13262C; }

#bannerBot h1 { font-family: "Product Sans"; font-weight: 700; font-size: 59px; line-height: 74px; color: #13262C; }

#bannerBot h3 { font-family: "Product Sans"; font-weight: 400; font-size: 19px; letter-spacing: 6.7px; color: #CC0000; }

#bannerBot a.btn { margin: 20px auto; }

#bannerBot p { max-width: 811px; width: 100%; margin: 0 auto; position: relative; font-family: "Product Sans"; font-weight: 400; font-size: 18px; letter-spacing: 4.9px; color: #13262C; }

#bannerBot p::before { content: url(../images/common/bordLeft.png); position: absolute; top: -50px; left: -50px; }

#bannerBot p::after { content: url(../images/common/bordRight.png); position: absolute; top: -50px; right: -50px; }

#bannerBot::after { content: ''; background: -webkit-gradient(linear, left top, right top, from(#0a157d), color-stop(50%, #1786f5), to(#0a157d)) repeat; background: -webkit-linear-gradient(left, #0a157d 0%, #1786f5 50%, #0a157d 100%) repeat; background: -o-linear-gradient(left, #0a157d 0%, #1786f5 50%, #0a157d 100%) repeat; background: linear-gradient(to right, #0a157d 0%, #1786f5 50%, #0a157d 100%) repeat; background-size: 50%; width: 100%; height: 8px; position: absolute; bottom: 0; left: 0; right: 0; }

/*-------------------------------------------Section 1-------------------------------------------*/
#section1 { padding: 64px 0 0; }

#section1 .container { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#section1 .container dl { max-width: 449px; width: 100%; }

#section1 .container dl dt img { border-radius: 200px; -webkit-box-shadow: 10px 10px 40px -20px; box-shadow: 10px 10px 40px -20px; }

#section1 .container dl dd { margin: 0; }

#section1 .container dl dd h4 { padding: 20px 0; font-family: "Roboto Slab"; font-weight: 700; font-size: 32px; color: #000; }

#section1 .container dl dd p { max-width: 433px; margin: 0 auto; font-family: "Product Sans"; font-weight: 400; font-size: 19px; line-height: 150%; letter-spacing: 0.4px; color: #525252; }

#section1 .container dl:nth-of-type(2) dd h4, #section1 .container dl:nth-of-type(3) dd h4 { padding: 40px 0; }

/*-------------------------------------------Section 2-------------------------------------------*/
#section2 { padding: 40px 0 1px; }

#section2 h3 { text-align: left; margin-left: 92px; }

#section2 h2 { font-weight: 700; font-size: 53px; line-height: 120%; }

#section2 p { margin: 40px 0; font-family: "Product Sans"; font-weight: 400; font-size: 20px; letter-spacing: 0.7px; line-height: 150%; color: #525252; }

#section2 .container { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#section2 .container .left { margin-left: 92px; max-width: 840px; width: 100%; text-align: left; }

#section2 .container .left .links { max-width: 523px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#section2 .container .left .links .sm { margin: 0 auto; }

#section2 .container .left .links .sm a.socialico { font-size: 40px; color: #003366; margin-right: 40px; }

#section2 .container .left .links .sm a.socialico:hover { color: #666666; }

#section2 .container .right img { max-width: 568px; width: 100%; -webkit-box-shadow: 10px 10px 40px -20px; box-shadow: 10px 10px 40px -20px; }

/*footer*/
#footer { background: #04396C; padding: 40px 0; }

#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0; }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
/*@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
  .mobile-flex-jspacea{justify-content:space-around;flex-wrap: wrap;}
  .mobile-flex-column{flex-direction:column}
  .mobile-img{display:none;}
}*/
/*@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
